@import "tailwindcss";

@theme {
  --font-sans: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif;
  --font-oswald: var(--font-oswald), sans-serif;

  --color-primary: #FC6203;
  /* Orange */
  --color-dark-slate: #111827;
  /* Dark Slate - Headings */
  --color-background: #ffffff;
  --color-foreground: #111827;

  /* Animations */
  --animate-float: float 6s ease-in-out infinite;
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r from-primary to-orange-400;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

body {
  font-family: var(--font-sans);
  background: var(--color-background);
  color: var(--color-foreground);
  /* Dot Grid Pattern */
  background-image: radial-gradient(#111827 0.5px, transparent 0.5px), radial-gradient(#111827 0.5px, var(--color-background) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  background-attachment: fixed;
}